@font-face {
  font-family: Chaparral;
  src: url('../fonts/Chaparral\ Pro\ Light.otf');
}

* {
  box-sizing: border-box;

}

body {
  background: #000;
  color: #fff;
  /* font-family: Chaparral; */

}

.fullscreen-landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 866px;
  width: 90%;
  margin: auto;
  border: 1px solid red;
}

.fullscreen-landing h1 {
  color: #9e673e;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  border: 1px solid red;
}

.fullscreen-landing p {
  border: 1px solid red;
  font-family: Chaparral;
  font-size: 1.6875rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #ffffff;
}

.fullscreen-landing h2 {
  /* font-size: 6.25rem; change when right font */
  font-size: 3.3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.image-carousel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1000;
  /* display: none; */
}